name: E2E Tests on Firefox

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    name: E2E on Firefox
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.2 # use the explicit version number
        with:
          browser: firefox
        env: 
          user: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}