name: E2E Tests on Firefox

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    name: E2E on Firefox
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Write the cypress.env.json file
        run: |
          echo '${{ secrets.CYPRESS_ENV_CI }}' > cypress.env.json
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.2 # use the explicit version number
        with:
          browser: firefox
          env: true
        env: 
          user: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}