name: Cypress E2E Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.2 # use the explicit version number
        with:
          command: cypress run --config-file cypress-e2e.config.js
        env: 
          user: ${{ secrets.USER }}
          password: ${{ secrets.PASSWORD }}
